# Site
NEXT_PUBLIC_SITE_URL=https://breath-natural-nextjs-chronicles.netlify.app/
NEXT_PUBLIC_API_URL=http://localhost:3000

# Portfolio & Social
NEXT_PUBLIC_PORTFOLIO_URL=https://persona-nextjs-chronicles-part-2.netlify.app/
NEXT_PUBLIC_GITHUB_URL=https://github.com/ricardo-camilo-programador-frontend-web
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/ricardo-camilo-programador-frontend-web-developer
NEXT_PUBLIC_X_URL=https://x.com/Ricardo50993066
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_YOUTUBE_URL=
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_99FREELAS_URL=
NEXT_PUBLIC_WORKANA_URL=https://www.workana.com/freelancer/ricardo-camilo-programador-frontend-web
NEXT_PUBLIC_BUYMEACOFFEE_URL=https://www.buymeacoffee.com/ricardo.camilo.frontend
NEXT_PUBLIC_FIGMA_URL=https://www.figma.com/@riddhilimbachiy

# Contact
NEXT_PUBLIC_CONTACT_EMAIL=

# Analytics
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_COUNTER_DEV_ID=

# Demo
NEXT_PUBLIC_LIVE_DEMO_VIDEO_URL=https://youtu.be/cFdw2yfFPKw

# Server-side only (no NEXT_PUBLIC_ prefix)
TREFLE_API_KEY=
